:root {
    --purple: #7c5dfa;

    --transition: 0.1s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    display: grid;
    grid-template-columns: 80px auto;
}

body[data-theme="dark"] {
    --background-primary: #141625;
    --background-additional: #1e2139;
    --text-color: #ffffff;
}

body[data-theme="light"] {
    --background-primary: #f8f8fb99;
    --background-additional: #ffffff;
    --text-color: #000000;
}

body {
    color: var(--text-color);
    background-color: var(--background-primary);

    font-size: 0.875rem;
    line-height: 1.25rem;
}

h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}
